<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">PSU Scoreboard</a></h1>
								<hr />
							
							</header>
							<footer>
								<a href="football.html" class="button circled scrolly">Football</a>
							
								<a href="basketball.html" class="button circled scrolly">Basketball</a>
							</footer>

						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/home">Home</a></li>
								
								<li>
									<a href="#">Scoreboard</a>
									<ul>
										<li><a href="football.html">Football</a></li>
										<li><a href="basketball.html">Basketball</a></li>
										
									</ul>
								</li>
								<li>
									<a href="#">Contact</a>
									<ul>
										<li><a href="https://www.facebook.com/nobita.guy">5635512051</a></li>
										<li><a href="https://www.facebook.com/udomsak.tien">5635512116</a></li>
										<li><a href="https://www.facebook.com/joob.verapat">5635512135</a></li>
										<li><a href="https://www.facebook.com/profile.php?id=100011217750117">5635512149</a></li>
										
									</ul>
								</li>
								
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2><!--[-->Sports  <strong>News</strong><!--]--></h2>
						<p>
							BBC <strong>Sport‏</strong> 
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a >Football</a></h3>
							</header>
							<p>BARCELONA have given the green light for an £84million spending spree on four players this summer, according to reports.

</p>
						</article>

						<article>
							<a  class="image featured"><img src="images/pic02.jpg" alt="" /></a>
							<header>
								<h3><a >Basketball</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a  class="image featured"><img src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a >Badminton</a></h3>
							</header>
							<p>Ratchanok Intanon set for tough test against Carolina Marin in Malaysia Open quarters.</p>
						</article>

						<article>
							<a  class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<header>
								<h3><a >Tennis</a></h3>
							</header>
							<p>Roger Federer says he plans to play at French Open.</p>
						</article>

						<article>
							<a  class="image featured"><img src="images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a >Rattanball</a></h3>
							</header>
							<p>Rattan (from the Malay rotan) is the name for roughly 600 species of old world climbing palms belonging to subfamily Calamoideae .</p>
						</article>


					</div>
				</section>

			

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

						

						</div>
						<hr />
						<div class="row">
							<div class="12u">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Thank for watching.</h3>
										</header>
										
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="#">...</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.onvisible.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>